@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body {
  font-family:"Raleway",sans-serif;
  background:#f5f5f5;
}
.header {
  position:sticky;
  top:0px;
  left:0px;
  width:100%;
  background:#222;
  padding:10px;
  text-align:center;
  z-index: 2;
}
.header .logo {
  text-decoration:none;
  color:#f5f5f5;
  font-size:18px;
}
.footer {
  padding:20px;
  text-align:center;
  border-top:1px solid #f5f5f5;
  background:#fff;
}
.footer .links {
  margin-bottom: 10px;
}
.footer .links a {
  display: inline-block;
  margin:0px 10px;
  font-size: 15px;
  color:#222;
}