@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body {
  font-family:"Raleway",sans-serif;
  background:#f5f5f5;
}
.header {
  position:sticky;
  top:0px;
  left:0px;
  width:100%;
  background:#222;
  padding:10px;
  text-align:center;
  z-index: 2;
}
.header .logo {
  text-decoration:none;
  color:#f5f5f5;
  font-size:18px;
}
.footer {
  padding:20px;
  text-align:center;
  border-top:1px solid #f5f5f5;
  background:#fff;
}
.footer .links {
  margin-bottom: 10px;
}
.footer .links a {
  display: inline-block;
  margin:0px 10px;
  font-size: 15px;
  color:#222;
}


.popup-promotion {
	position:fixed;
	top:-100vh;
	left:0px;
	width:100%;
	height:100%;
	opacity: 0;
}
.popup-promotion.active {
	top:0px;
	opacity: 1;
}
.popup-promotion .overlay {
	posotion:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
}
.popup-promotion .popup {
	box-sizing:border-box;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%) scale(1.15);
	width: 95vw;
	max-width:400px;
	padding:25px 20px;
	background:#f5f5f5;
	opacity: 0;
}
.popup-promotion.active .popup {
	transform:translate(-50%,-50%) scale(1);
	opacity: 1;
	transition:all 300ms ease-in-out;
}
.popup-promotion .popup h2 {
	font-size:25px;
	margin-bottom:10px;
	color:#111;
}
.popup-promotion .popup p {
	color:#222;
	margin-bottom: 20px;
}
.popup-promotion .popup a {
	text-decoration:none;
	display:block;
	width:100%;
	text-align:center;
	padding:10px 0px;
	background:#4d68c7;
	color:#f5f5f5;
	font-weight:600;
	text-transform:uppercase;
	border-radius:10px;
}
.popup-promotion .popup .close-btn {
	position:absolute;
	top:10px;
	right: 10px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	width:20px;
	height: 20px;
	text-align: center;
	line-height: 18px;
	background: #ddd;
	color: #555;
	border-radius: 50%;
}
